<header>
  <div class="top {{#if @blog.logo}}has-logo{{else}}has-no-logo{{/if}}">
    <a id="home-url" href="{{@blog.url}}">
      {{#if @blog.logo}}
        <div class="logo" style="background-image: url('{{@blog.logo}}');">&nbsp;</div>
      {{/if}}

      {{#if @blog.title}}
        <h1>{{@blog.title}}</h1>
      {{/if}}

      {{#if @blog.description}}
        <p>{{@blog.description}}</p>
      {{/if}}
    </a>
  </div>

  <div class="content {{#if posts}}has-posts{{else}}has-no-posts{{/if}}">
    {{#foreach posts}}
      <a href="{{url}}">
        <article class="scape-post-preview {{#if featured}}icon-star {{/if}}{{post_class}}">
          <h2>{{title}}</h2>
          <div class="excerpt">{{excerpt words="8"}}&hellip;</div>
          <div class="meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
            <span class="author"> by {{author.name}}</span>
          </div>
        </article>
      </a>
    {{/foreach}}
  </div>

  <div class="bottom">
    {{#if pagination}}{{pagination}}{{/if}}
  </div>
</header>
